.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
}

.text-info {
  color:#6d3b14!important;
}

body {
  margin:0;
  font-family:Montserrat,sans-serif;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  text-align:left;
  background-color:#fff;
}

.clean-block.clean-info.dark {
}

.clean-block.clean-info.dark {
}

